{% extends 'admin_base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Products</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            Title:
        </div>
        <div class="col">
            Restaurant:
        </div>
        <div class="col">
            Price:
        </div>
        <div class="col">
        </div>
    </div>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col">
                {{ form.title }}
            </div>
            <div class="col">
                {{ form.restaurant }}
            </div>
            <div class="col">
                {{ form.price }}
            </div>
            <div class="col">
                <input type="submit" value="Send message"/>
            </div>
        </div>
    </form>
<hr>
    {% for product in object_list %}
    <div class="row">
        <div class="col">
            {{ product.title }}
        </div>
        <div class="col">
            {{ product.restaurant }}
        </div>
        <div class="col">
            {{ product.price }}
        </div>
        <div class="col">
            <form action="{% url 'adm:product_delete' product.pk %}" method="POST">{% csrf_token %}<input class="btn btn-outline-danger" type="submit"
                                                                                                          value="x"/>
            </form>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>

</body>
{% endblock %}