{% extends 'admin_base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Import Users</title>
</head>
<body>
<h1>Import Users</h1>
<hr>
{% load static %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="btn btn-primary" type="file" name="myfile">
    <button class="btn btn-primary" type="submit">Upload</button>
</form>
<hr>
{% if errors %}
<div class="container">
    {% for error in errors %}
    <div class="row">
        {{error}}
    </div>
    <hr>
    {% endfor %}
</div>
{% endif %}

{% if successes %}
<p>{{ successes }}</p>
<hr>
{% endif %}

<p><a href="{% url 'adm:users' %}">Return to home</a></p>
<hr>
</body>
{% endblock %}